In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import hvplot.pandas
import pandas as pd
import requests
import numpy as np

# Import API key
# from api_keys import geoapify_key

# URL for Historical US values
url = " https://api.covidtracking.com/v1/states/daily.json"
data_url = requests.get(url)
historic_val = data_url.json()

In [28]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
historic_val_df = pd.DataFrame(historic_val)

historic_val_df = historic_val_df[["date", "state", "hospitalizedCurrently", "hospitalizedCumulative", "recovered", "hospitalizedDischarged","dateChecked"]]


# Display sample data
historic_val_df.head()

,date,state,hospitalizedCurrently,hospitalizedCumulative,recovered,hospitalizedDischarged,dateChecked
0,20210307,AK,33.0,1293.0,NaN,NaN,2021-03-05T03:59:00Z
1,20210307,AL,494.0,45976.0,295690.0,NaN,2021-03-07T11:00:00Z
2,20210307,AR,335.0,14926.0,315517.0,NaN,2021-03-07T00:00:00Z
3,20210307,AS,NaN,NaN,NaN,NaN,2020-12-01T00:00:00Z
4,20210307,AZ,963.0,57907.0,NaN,118932.0,2021-03-07T00:00:00Z

In [41]:
# # Are there any states that, over time, saw a decrease in covid hospitalizations? which state decreased the fastes in 2020?

# Sorting data by state
# sort_val_df = historic_val_df.sort_values(by='date',inplace=True)
# sort_val_df.head()
historic_val_df = historic_val_df[historic_val_df['date'] < 20210000]
historic_val_df.sort_values('date',inplace=True)
# sort_val_df_2020.head()
historic_val_df['hospitalized_change'] = historic_val_df.groupby('state')['hospitalizedCurrently'].diff()
decreased_hospitalizations = historic_val_df[historic_val_df['hospitalized_change'] < 0]






# decreased_hospitalizations.loc[decreased_hospitalizations.groupby('state')['hospitalized_change'].idxmin()]
test = decreased_hospitalizations.sort_values('hospitalized_change',ascending=True).drop_duplicates(['state'])
test.head(50)
# count_val_df = historic_val_df['hospitalizedCurrently'].count()
# print(count_val_df)

#texas_data = historic_val_df.groupby[['state'] == 'TX']


# Group the data by state and calculate the change in hospitalization rates
# df['hospitalized_change'] = df.groupby('state')['hospitalizedCurrently'].diff()
# x_axis = historic_val_df['state]
# x_axis = texas_data['date']
# # x_axis = [pd.to_datetime(d) for d in texas_data['date']]
# print(x_axis)
# # y_axis = historic_val_df['hospitalizedCumulative']
# y_axis = texas_data['hospitalizedCurrently']
# # print(y_axis)
# plt.scatter(x_axis, y_axis, marker="o", facecolors="blue", edgecolors="black", alpha=0.75)

# # Incorporate the other graph properties
# # plt.xticks(rotation=0, horizontalalignment="center")
# plt.title("City Max Latitude vs. Temperature")
# plt.xlabel("Latitude")
# plt.ylabel("Max Temperature (C)")

# # Save the figure
# # plt.savefig("../output_data/Fig1.png")

# # Show plot
# plt.show()

#state_df = historic_val_df.groupby(["state"])

,date,state,hospitalizedCurrently,hospitalizedCumulative,recovered,hospitalizedDischarged,dateChecked,hospitalized_change,greatestChange
18373,20200413,CA,3015.0,NaN,NaN,NaN,2020-04-12T00:00:00Z,-2219.0,NaN
12479,20200728,TX,9593.0,NaN,244449.0,NaN,2020-07-28T17:00:00Z,-1300.0,NaN
17789,20200424,NY,14258.0,NaN,NaN,46156.0,2020-04-24T00:00:00Z,-763.0,NaN
17776,20200424,MI,3022.0,NaN,3237.0,NaN,2020-04-24T11:00:00Z,-589.0,NaN
10203,20200906,GA,2202.0,25523.0,NaN,NaN,2020-09-06T14:50:00Z,-538.0,NaN
5058,20201207,KS,623.0,5509.0,NaN,3675.0,2020-12-07T10:00:00Z,-520.0,NaN
7866,20201018,MO,918.0,NaN,NaN,NaN,2020-10-18T00:59:00Z,-513.0,NaN
18010,20200420,NJ,6986.0,NaN,NaN,682.0,2020-04-20T13:00:00Z,-508.0,NaN
18473,20200412,VA,751.0,837.0,NaN,NaN,2020-04-11T17:00:00Z,-501.0,NaN
16872,20200510,IL,4293.0,NaN,NaN,NaN,2020-05-10T00:00:00Z,-446.0,NaN
4196,20201223,WA,774.0,13590.0,NaN,NaN,2020-12-22T02:59:00Z,-433.0,NaN
11490,20200814,FL,5893.0,33568.0,NaN,NaN,2020-08-13T23:59:00Z,-432.0,NaN
4572,20201216,NV,1550.0,NaN,NaN,NaN,2020-12-16T00:00:00Z,-429.0,NaN
14228,20200626,AZ,2110.0,4514.0,NaN,8389.0,2020-06-26T00:00:00Z,-343.0,NaN
7494,20201025,TN,1094.0,9941.0,218067.0,NaN,2020-10-25T15:00:00Z,-288.0,NaN
3737,20201231,PA,5677.0,NaN,429017.0,NaN,2020-12-31T12:00:00Z,-285.0,NaN
16653,20200514,MA,2859.0,8207.0,NaN,NaN,2020-05-13T10:00:00Z,-242.0,NaN
4636,20201215,SC,1046.0,12960.0,129227.0,NaN,2020-12-13T23:59:00Z,-230.0,NaN
16862,20200510,CO,573.0,3631.0,NaN,3076.0,2020-05-09T00:00:00Z,-217.0,NaN
11873,20200807,AL,1403.0,11537.0,37923.0,NaN,2020-08-07T11:00:00Z,-210.0,NaN
4126,20201224,OH,4494.0,36345.0,489808.0,NaN,2020-12-24T14:00:00Z,-200.0,NaN
14588,20200620,MS,465.0,2767.0,15323.0,NaN,2020-06-16T19:00:00Z,-196.0,NaN
18351,20200414,OK,194.0,488.0,1060.0,NaN,2020-04-14T08:00:00Z,-189.0,NaN
12821,20200722,WI,167.0,4225.0,34682.0,NaN,2020-07-22T16:00:00Z,-187.0,NaN
4673,20201214,MN,1283.0,19638.0,347077.0,NaN,2020-12-13T17:00:00Z,-178.0,NaN
18332,20200414,LA,1977.0,NaN,NaN,NaN,2020-04-13T13:00:00Z,-157.0,NaN
12055,20200804,ID,106.0,886.0,7617.0,NaN,2020-08-03T18:56:00Z,-133.0,NaN
3995,20201226,KY,1511.0,13035.0,35936.0,NaN,2020-12-26T00:00:00Z,-133.0,NaN
4385,20201219,IN,2932.0,32271.0,NaN,284558.0,2020-12-18T11:59:00Z,-133.0,NaN
10278,20200905,NC,831.0,NaN,NaN,145884.0,2020-09-05T12:00:00Z,-124.0,NaN
5222,20201204,IA,1000.0,NaN,152331.0,NaN,2020-12-04T00:00:00Z,-124.0,NaN
4567,20201216,ND,160.0,3073.0,84535.0,NaN,2020-12-16T01:59:00Z,-117.0,NaN
4845,20201211,MT,372.0,3039.0,61093.0,NaN,2020-12-11T01:59:00Z,-116.0,NaN
16822,20200511,MD,1544.0,6183.0,2298.0,NaN,2020-05-11T10:00:00Z,-96.0,NaN
16400,20200519,UT,96.0,619.0,4275.0,NaN,2020-05-18T10:29:00Z,-83.0,NaN
16191,20200522,CT,740.0,12538.0,7127.0,7127.0,2020-05-21T20:30:00Z,-76.0,NaN
4347,20201220,NM,820.0,8733.0,54357.0,NaN,2020-12-20T17:50:00Z,-71.0,NaN
6541,20201111,SD,543.0,3389.0,40668.0,NaN,2020-11-10T14:00:00Z,-64.0,NaN
5128,20201206,NE,755.0,4547.0,69840.0,NaN,2020-12-05T22:45:00Z,-64.0,NaN
4074,20201225,PR,475.0,NaN,60901.0,NaN,2020-12-25T00:00:00Z,-59.0,NaN
4874,20201210,AR,1005.0,9709.0,156286.0,NaN,2020-12-10T00:00:00Z,-59.0,NaN
6760,20201107,OR,266.0,3378.0,NaN,NaN,2020-11-06T03:01:00Z,-56.0,NaN
11997,20200805,HI,83.0,208.0,1354.0,NaN,2020-08-04T23:22:00Z,-55.0,NaN
6281,20201115,DE,81.0,NaN,14867.0,NaN,2020-11-14T18:00:00Z,-51.0,NaN
17795,20200424,RI,267.0,576.0,NaN,377.0,2020-04-24T03:00:00Z,-49.0,NaN
18475,20200412,VT,34.0,NaN,15.0,NaN,2020-04-12T00:00:00Z,-43.0,NaN
16304,20200520,DC,336.0,NaN,1059.0,NaN,2020-05-19T00:00:00Z,-39.0,NaN
4086,20201225,WV,702.0,NaN,53729.0,NaN,2020-12-24T23:59:00Z,-37.0,NaN
3919,20201228,WY,115.0,1053.0,41878.0,NaN,2020-12-28T00:00:00Z,-31.0,NaN
4335,20201220,ME,162.0,979.0,10794.0,NaN,2020-12-19T23:59:00Z,-29.0,NaN